<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách đơn hàng</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<h2>Danh sách đơn hàng</h2>

<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>User</th>
        <th>Chi tiết</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.totalAmount}"></td>
        <td>
            <a th:href="@{/orders/user/{id}(id=${order.user.id})}" th:text="${order.user.userName}"></a>
        </td>
        <td><a th:href="@{/orders/detail/{id}(id=${order.id})}">Xem chi tiết</a></td>
    </tr>
</table>

</body>
</html>
